html{
  box-sizing: border-box;
} 

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  height: 100%;
  /* font-family: ""; */
  font-style: normal;
  font-weight: normal;
  /* font-size: px; */
  /* line-height: px; */
  
  /* color: var(); */
}

.main-logo{
  display: block;
  width: 140px;
  height: 40px;
  opacity: 1;
}

.main-logo:hover{
  opacity: 0.8;
}

.main-logo:active{
  opacity: 0.6;
}

@media only screen and (max-width: 575px){
  .books-item{
    flex-grow: 1;
  }
  .book {
    /* display: flex !important;
    flex-direction: row; */
  }
  /* .book__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
  } */
}
